<h1>EMPRESA</h1>

<div class="container">
  <div class="row">

    <div class="card mt">
      <div class="card-body">
        <div class="card-title">
          <h5>Agregar un nuevo empleado</h5>
        </div>

        <div class="form-group mb-2">
          <label>Nombre:</label>
          <input type="text" [(ngModel)]= "empleado.nombre" placeholder="Nombre" class="form-control">
        </div>
        <div class="form-group mb-2">
          <label>RUC:</label>
          <input type="text" [(ngModel)]= "empleado.ruc" placeholder="RUC" class="form-control">
        </div>
        <div class="form-group mb-2">
          <label>Razón social:</label>
          <input type="text" [(ngModel)]= "empleado.razon" placeholder="Razón social" class="form-control">
        </div>
        <div class="form-group mb-2">
          <label>Teléfono:</label>
          <input type="text" [(ngModel)]= "empleado.telefono" placeholder="Teléfono" class="form-control">
        </div>
        <button (click)="guardar()" class="btn btn-primary">
          Guardar
        </button>

        
      </div>
    </div>

    <table class="table table-light table-hover table-bordered mt-5 table caption-top">
      <caption class="text-white">Lista de empleados</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">RUC</th>
          <th scope="col">Razón social</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleadoArr">
          <th scope="row">{{ empleado.id }}</th>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.ruc }}</td>
          <td>{{ empleado.razon }}</td>
          <td>{{ empleado.telefono }}</td>
          <td><button class="btn btn-success" (click)="editar(empleado)">Editar</button>
            <!-- <button *ngIf="empleado.id !== 0" class="btn btn-danger" (click)="eliminar()">Eliminar</button> -->
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
